HF_TOKEN=
KAGGLE_API_TOKEN=
MODELS_LOCATION=
MODELS_HUB=
STORAGE_LOCATION=

CODER_PORT=8000
CODER_URL=http://localhost:8000/v1
CODER_MODEL=Qwen/Qwen2.5-Coder-3B-Instruct-AWQ
CODER_GPU_MEMORY_UTILIZATION=0.8
CODER_KEY=

CODE_DESCRIBER_PORT=8000
CODE_DESCRIBER_URL=http://localhost:8000/v1
CODE_DESCRIBER_MODEL=JunHowie/Qwen3-1.7B-GPTQ-Int4
CODE_DESCRIBER_GPU_MEMORY_UTILIZATION=0.7
CODE_DESCRIBER_KEY=

RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
SECURITY_MODEL=protectai/deberta-v3-base-prompt-injection-v2